# Qwen Cache
.ex-qwen

# Virtual Environment
venv/
.venv/
env/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# SpaCy Binary Data & Models
*.spacy
output/model/

# Dynamic Outputs
output/sampling/
output/debugging/
*_output_parsed.json
output_parsed*.json

# OS files
.DS_Store

# IDEs
.vscode/
